html{
    height: 100%;
}

body{
    background-image: url('image/belo-arranjo-de-diferentes-livros.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}
    
.container{
    height: 100%;
    align-content: center;
}
    
.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}
    
.card-header h3{
    color: white;
}
